<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<body class="bg-light">
<!--/*@thymesVar id="studyDescriptionForm" type="com.irostub.studya.controller.form.StudyDescriptionForm"*/-->
<div layout:fragment="content">
  <div th:replace="fragment/study :: study-banner"></div>
  <div class="container">
    <div th:replace="fragment/study :: study-info"></div>
    <div th:replace="fragment/study :: study-menu(studyMenu='settings')"></div>
    <div class="row justify-content-center mt-5">
      <div class="col-2">
        <div th:replace="fragment/study::study-settings-menu ('tags')"></div>
      </div>
      <div class="col-8">
        <h3 th:replace="fragment/study :: message"></h3>
        <div class="row">
          <h2 class="col-sm-12">스터디 주제</h2>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
              스터디에서 주로 다루는 주제를 태그로 등록하세요. 태그를 입력하고 콤마(,) 또는 엔터를 입력하세요.
            </div>
            <input id="tags" type="text" name="tags-outside" th:value="${#strings.listJoin(tags, ',')}"
                   class="tagify--outside" aria-describedby="tagHelp">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="customScript">
  <script th:replace="fragment/common :: ajax-csrf-header"></script>
  <script th:replace="fragment/tagify :: update-tags(baseUrl='/study/' + ${study.path} + '/settings/tags')"></script>
</th:block>
</body>
</html>