<ul th:fragment="notification-list (notifications)" class="list-group list-group-flush">
  <a href="#" th:href="@{${noti.link}}" th:each="noti: ${notifications}"
     class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <small class="text-muted" th:text="${noti.title}">Noti title</small>
      <small class="fromNow text-muted" th:text="${noti.createdAt}">3 days ago</small>
    </div>
    <p th:text="${noti.message}" class="text-left mb-0 mt-1">message</p>
  </a>
</ul>