<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="study" type="com.irostub.studya.domain.Study"*/-->
<div th:fragment="study-banner" th:if="${study.useBanner}" class="row" id="study-logo">
  <img th:src="${study.image}"/>
</div>

<div th:fragment="study-info">
  <div class="row pt-4 text-left justify-content-center bg-light">
    <div class="col-6">
      <a href="#" class="text-decoration-none" th:href="@{'/study/' + ${study.path}}">
        <span class="h2" th:text="${study.title}">스터디 이름</span>
      </a>
    </div>
    <div class="col-4 text-right justify-content-end">
      <span th:if="${!study.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
            data-placement="bottom" title="스터디 공개 준비중">
        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>DRAFT</button>
      </span>
      <span th:if="${study.closed}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
            title="스터디 종료함">
        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>CLOSED</button>
      </span>
      <span th:if="${!study.recruiting}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip"
            data-placement="bottom" title="팀원 모집중 아님">
          <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>OFF</button>
      </span>
      <span sec:authorize="isAuthenticated()" th:if="${study.isJoinable(#authentication.principal)}" class="btn-group"
            role="group" aria-label="Basic example">
          <a class="btn btn-primary" th:href="@{'/study/' + ${study.path} + '/join'}"> 스터디 가입</a>
          <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
             th:text="${study.members.size()}">1</a>
      </span>
      <span sec:authorize="isAuthenticated()" th:if="${!study.closed && study.isMember(#authentication.principal)}"
            class="btn-group" role="group">
          <a class="btn btn-outline-warning" th:href="@{'/study/' + ${study.path} + '/leave'}"> 스터디 탈퇴</a>
          <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
             th:text="${study.members.size()}">1</a>
      </span>
      <span sec:authorize="isAuthenticated()"
            th:if="${study.published && !study.closed && study.isManager(#authentication.principal)}">
          <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/new-event'}">
            <i class="fa fa-plus"></i> 모임 만들기
          </a>
      </span>
    </div>
  </div>
  <div class="row justify-content-center bg-light">
    <div class="col-10">
      <p class="lead" th:text="${study.shortDescription}"></p>
    </div>
  </div>
  <div class="row justify-content-center bg-light">
    <div class="col-10">
      <p>
        <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
          <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
              <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
          </a>
        </span>
        <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
          <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
              <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
          </a>
        </span>
      </p>
    </div>
  </div>
</div>

<div th:fragment="study-menu(studyMenu)" class="row px-3 justify-content-center bg-light">
  <nav class="col-10 nav nav-tabs">
    <a class="nav-item nav-link" href="#" th:classappend="${studyMenu == 'info'}? active"
       th:href="@{'/study/' + ${study.path}}">
      <i class="fa fa-info-circle"></i> 소개
    </a>
    <a class="nav-item nav-link" href="#" th:classappend="${studyMenu == 'members'}? active"
       th:href="@{'/study/' + ${study.path} + '/members'}">
      <i class="fa fa-user"></i> 구성원
    </a>
    <a class="nav-item nav-link" th:classappend="${studyMenu == 'events'}? active" href="#"
       th:href="@{'/study/' + ${study.path} + '/events'}">
      <i class="fa fa-calendar"></i> 모임
    </a>
    <a sec:authorize="isAuthenticated()" th:if="${study.isManager(#authentication.principal)}"
       class="nav-item nav-link" th:classappend="${studyMenu == 'settings'}? active" href="#"
       th:href="@{'/study/' + ${study.path} + '/settings/description'}">
      <i class="fa fa-cog"></i> 설정
    </a>
  </nav>
</div>

<div th:fragment="member-list (members, isManager)" class="row px-3 justify-content-center">
  <ul class="list-unstyled col-10">
    <li class="media mt-3" th:each="member: ${members}">
      <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${member.nickname}" width="64"
           height="64" class="rounded border bg-light mr-3"></svg>
      <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member?.profileImage}" width="64" height="64"
           class="rounded border mr-3"/>
      <div class="media-body">
        <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span> <span th:if="${isManager}"
                                                                               class="badge badge-primary">관리자</span>
        </h5>
        <span th:text="${member.bio}"></span>
      </div>
    </li>
  </ul>
</div>

<div th:fragment="study-settings-menu (currentMenu)" class="list-group">
  <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'description'}? active"
     href="#" th:href="@{'/study/' + ${study.path} + '/settings/description'}">소개</a>
  <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'image'}? active"
     href="#" th:href="@{'/study/' + ${study.path} + '/settings/banner'}">배너 이미지</a>
  <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active"
     href="#" th:href="@{'/study/' + ${study.path} + '/settings/tags'}">스터디 주제</a>
  <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active"
     href="#" th:href="@{'/study/' + ${study.path} + '/settings/zones'}">활동 지역</a>
  <a class="list-group-item list-group-item-action list-group-item-danger"
     th:classappend="${currentMenu == 'study'}? active"
     href="#" th:href="@{'/study/' + ${study.path} + '/settings/study'}">스터디</a>
</div>

<div th:fragment="editor-script">
  <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
  <script type="application/javascript">
      $(function () {
          $('.editor').summernote({
              fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
              placeholder: '스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어 주세요.',
              tabsize: 2,
              height: 300
          });
      });
  </script>
</div>

<script th:fragment="tooltip" type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<div th:fragment="message" th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
  <span th:text="${message}">완료</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


</body>
</html>