<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
  <style>
      .container {
          max-width: 100%;
      }
  </style>
  <title>Studya</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="/" th:href="@{/}">
    <img class="mr-3" width="30" height="30" alt="logoImg"
         src="/static/images/logo_transparent.png"
         th:src="@{/images/logo_transparent.png}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <form th:action="@{/search/study}" class="form-inline" method="get">
          <input type="search" class="form-control mr-sm-2" name="keyword" placeholder="스터디 찾기">
        </form>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/login}">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/signup}">가입</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="py-5 text-center" th:if="${error}">
    <p class="lead">스터디야 이메일 확인</p>
    <div class="alert alert-danger" role="alert">이메일 확인 링크가 정확하지 않습니다.</div>
  </div>
  <div class="py-5 text-center" th:if="${error == null}">
    <p class="lead">스터디야 이메일 확인</p>
    <h2>이메일을 확인했습니다. <span th:text="${count}"></span>번째 회원, <span th:text="${name}"></span>님 환영합니다.</h2>
    <small class="text-primary">이제부터 가입할 때 사용한 이메일 또는 닉네임과 패스워드로 로그인 할 수 있습니다.</small>
  </div>
</div>
<script th:inline="javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"
        src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
        src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"
        src="/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js"></script>
</body>
</html>