<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<body class="bg-light">
<!-- BEGIN 컨텐츠 파트 -->
<th:block layout:fragment="content">
  <div class="alert alert-warning" role="alert"
       th:if="${account != null && !account.isEmailVerified()}">
    스터디야 가입을 완료하려면 <a th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
  </div>
  <div class="container">
    <div class="py-5 text-center">
      홈
    </div>
    <div class="row justify-content-center">
    </div>
  </div>
</th:block>
<!-- END 컨텐츠 파트 -->
</body>
</html>