<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<body class="bg-light">
<!-- BEGIN 컨텐츠 파트 -->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<th:block layout:fragment="content">
  <div class="alert alert-warning" role="alert"
       th:if="${account != null && !account.isEmailVerified()}">
    스터디야 가입을 완료하려면 <a th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
  </div>
  <div class="container">
    <div class="py-5 text-center">
      <div th:if="${message}">
        <p class="lead">스터디야 이메일 로그인</p>
        <h2 th:text="${message}">이메일로 로그인 했습니다. <a th:href="@{/settings/password}">비밀번호를 변경</a>하세요.</h2>
      </div>
      <div th:if="${error}">
        <p class="lead">스터디야 이메일 로그인</p>
        <h2 class="alert alert-danger" th:text="${error}">이메일 로그인에 실패했습니다.</h2>
      </div>
    </div>
  </div>
</th:block>
<!-- END 컨텐츠 파트 -->
</body>
</html>