<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<body class="bg-light">
<div layout:fragment="content" class="container">
  <div class="row justify-content-center mt-5 py-5">
    <div class="col-sm-10">
      <div class="row my-4">
        <div class="col-sm-3">
          <div th:replace="fragment/settings-list-group :: list-group('password')"></div>
        </div>
        <div class="col-sm-9">
          <h2>비밀번호 변경</h2>
          <form class="needs-validation" action="#" method="post"
                novalidate
                th:action="@{/settings/password}" th:object="${form}">
            <div class="form-group">
              <label for="currentPassword">현재 비밀번호</label>
              <input id="currentPassword" type="password" class="form-control" autocomplete="off" placeholder="current password..."
                     aria-describedby="currentPasswordHelp"
                     required
                     th:field="*{currentPassword}">
              <small id="currentPasswordHelp" class="form-text text-muted">
                현재 비밀번호를 입력해주세요.
              </small>
              <small class="form-text text-danger" th:errors="*{currentPassword}">현재 비밀번호가 일치하지 않습니다.</small>
            </div>
            <div class="form-group">
              <label for="password">새 비밀번호</label>
              <input id="password" type="password" class="form-control" autocomplete="off" placeholder="new password..."
                     aria-describedby="passwordHelp"
                     required minlength="8" maxlength="50"
                     th:field="*{password}">
              <small id="passwordHelp" class="form-text text-muted">
                공백없이 문자와 숫자로만 8자 이상 20자 이내로 입력하세요. 가입 후 변경할 수 있습니다.
              </small>
              <small class="invalid-feedback">새 비밀번호가 조건에 맞지 않습니다.</small>
              <small class="form-text text-danger" th:errors="*{password}">password error</small>
            </div>
            <div class="form-group">
              <label for="check-password">새 비밀번호 확인</label>
              <input id="check-password" type="password" class="form-control" autocomplete="off"
                     aria-describedby="passwordHelp"
                     required minlength="8" maxlength="50" name="checkPassword">
              <small id="check-passwordHelp" class="form-text text-muted">
                새 비밀번호를 다시 한번 입력하세요.
              </small>
            </div>
            <button id="btn-submit" class="btn btn-outline-primary" type="submit">비밀번호 변경</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragment/form-validate-script :: form-validate-script"
     layout:fragment="customScript"></div>
</body>
</html>