<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<body class="bg-light">
<div layout:fragment="content" class="container">
  <div class="row justify-content-center mt-5 py-5">
    <div class="col-sm-10">
      <div class="row my-4">
        <div class="col-sm-3">
          <div th:replace="fragment/settings-list-group :: list-group('zone')"></div>
        </div>
        <div class="col-sm-9">
          <h2>주요 활동 지역</h2>
          <div class="row">
            <div class="col-12">
              <div class="alert alert-info" role="alert">
                주로 스터디를 다닐 수 있는 지역을 등록하세요. 해당 지역에 스터디가 생기면 알림을 받을 수 있습니다. 시스템에 등록된 지역만 선택할 수 있습니다.
              </div>
              <input type="text" id="tag" name="tags-outside" th:value="${#strings.listJoin(currentAccountZone, ',')}" class="tagify--outside" aria-describedby="tagHelp"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="customScript">
  <script th:replace="fragment/common :: ajax-csrf-header"></script>
  <script th:replace="fragment/tagify :: update-zones (baseUrl='/settings/zone')"></script>
</th:block>
</body>
</html>